<h1>Formulario de Cadastro</h1>

<div class="border">
    <label for="nome-completo">Nome completo<</label>
    <input id="nome-completo" name="nome-completo">
</div>

<div class="border">
    <label for="data-nascimento">Data de nascimento<</label>
    <input id="data-nascimento" name="data-nascimento" type="date">
</div>

<h2>Endereço</h2>
<h3>Sabe o seu CEP? agilize o preenchimento do endereço digitando ele aqui</h3>
<div class="border">
    <label for="endereco-cep">cep</label>
    <input id="endereco-cep" name="endereco-cep" type="number">
</div>

<div class="border">
    <label for="endereco-rua">rua</label>
    <input id="endereco-rua" name="endereco-rua">
</div>

<div class="border">
    <label for="endereco-numero">numero</label>
    <input id="endereco-numero" name="endereco-numero">
</div>

<div class="border">
    <label for="endereco-bairro">bairro</label>
    <input id="endereco-bairro" name="endereco-bairro">
</div>

<div class="border">
    <label for="endereco-complemento">complemento</label>
    <input id="endereco-complemento" name="endereco-complemento">
</div>

<div class="border">
    <label for="endereco-cidade">cidade</label>
    <input id="endereco-cidade" name="endereco-cidade">
</div>

<h2>Contato</h2>

<div class="border">
    <label for="contato-telefone-fixo">Telefone</label>
    <input id="contato-telefone-fixo" name="contato-telefone-fixo" type="tel" autocomplete="tel">
</div>

<div class="border">
    <label for="contato-celular">celular</label>
    <input id="contato-celular" name="contato-celular" type="tel" autocomplete="tel">
</div>

<div class="border">
    <label for="contato-email">email</label>
    <input id="contato-email" name="contato-email" type="email" autocomplete="email">
</div>


<!--
<div class="border">
    <label for="*">--</label>
    <input id="*" name="*">
</div>
-->